<div> 
 <div>
  <b>Albanese, D., De Filippo, C., Cavalieri, D. and Donati, C.</b> (2015a). Explaining diversity in metagenomic datasets by phylogenetic-based feature weighting. 
  <i>PLoS Computational Biology</i> 
  <b>11</b>(3), e1004186.
 </div> 
 <div>
  <b>Albanese, D., Fontana, P., De Filippo, C., Cavalieri, D. and Donati, C.</b> (2015b). MICCA: a complete and accurate software for taxonomic profiling of metagenomic data. 
  <i>Scientific reports</i> 
  <b>5</b>9743.
 </div> 
 <div>
  <b>Aloisio, I., Quagliariello, A., De Fanti, S., Luiselli, D., De Filippo, C., Albanese, D., Corvaglia, L. T., Faldella, G. and Di Gioia, D.</b> (2016). Evaluation of the effects of intrapartum antibiotic prophylaxis on newborn intestinal microbiota using a sequencing approach targeted to multi hypervariable 16S rDNA regions. 
  <i>Applied Microbiology and Biotechnology</i> 
  <b>100</b>(12), 5537–5546.
 </div> 
 <div>
  <b>Barelli, C., Albanese, D., Donati, C., Pindo, M., Dallago, C., Rovero, F., Cavalieri, D., Tuohy, K. M., Hauffe, H. C. and De Filippo, C.</b> (2015). Habitat fragmentation is associated to gut microbiota diversity of an endangered primate: implications for conservation. 
  <i>Scientific reports</i> 
  <b>5</b>14862.
 </div> 
 <div>
  <b>Basso, N., Soricelli, E., Castagneto-Gissey, L., Casella, G., Albanese, D., Fava, F., Donati, C., Tuohy, K., Angelini, G., La Neve, F., Severino, A., Kamvissi-Lorenz, V., Birkenfeld, A. L., Bornstein, S., Manco, M. and Mingrone, G.</b> (2016). Insulin resistance, microbiota, and fat distribution changes by a new model of vertical sleeve gastrectomy in obese rats. 
  <i>Diabetes</i> 
  <b>65</b>(10), 2990–3001.
 </div> 
 <div>
  <b>Di Paola, M., Cavalieri, D., Albanese, D., Sordo, M., Pindo, M., Donati, C., Pagnini, I., Giani, T., Simonini, G., Paladini, A., Lionetti, P., De Filippo, C. and Cimaz, R.</b> (2016). Alteration of Fecal Microbiota Profiles in Juvenile Idiopathic Arthritis. Associations with HLA-B27 Allele and Disease Status. 
  <i>Frontiers in microbiology</i> 
  <b>7</b>1703.
 </div> 
 <div>
  <b>Donati, C., Zolfo, M., Albanese, D., Tin Truong, D., Asnicar, F., Iebba, V., Cavalieri, D., Jousson, O., De Filippo, C., Huttenhower, C. and Segata, N.</b> (2016). Uncovering oral Neisseria tropism and persistence using metagenomic sequencing. 
  <i>Nature microbiology</i> 
  <b>1</b>(7), 16070.
 </div> 
 <div>
  <b>Nicola, L., Turco, E., Albanese, D., Donati, C., Thalheimer, M., Pindo, M., Insam, H., Cavalieri, D. and Pertot, I.</b> (2017). Fumigation with dazomet modifies soil microbiota in apple orchards affected by replant disease. 
  <i>Applied Soil Ecology</i> 
  <b>113</b>71–79.
 </div> 
 <div>
  <b>Stefanini, I., Albanese, D., Cavazza, A., Franciosi, E., De Filippo, C., Donati, C. and Cavalieri, D.</b> (2016). Dynamic changes in microbiota and mycobiota during spontaneous “Vino Santo Trentino” fermentation. 
  <i>Microbial biotechnology</i> 
  <b>9</b>(2), 195–208.
 </div> 
 <div>
  <b>Strati, F., Cavalieri, D., Albanese, D., De Felice, C., Donati, C., Hayek, J., Jousson, O., Leoncini, S., Pindo, M., Renzi, D., Rizzetto, L., Stefanini, I., Calabrò, A. and De Filippo, C.</b> (2016a). Altered gut microbiota in Rett syndrome. 
  <i>Microbiome</i> 
  <b>4</b>(1), 41.
 </div> 
 <div>
  <b>Strati, F., Di Paola, M., Stefanini, I., Albanese, D., Rizzetto, L., Lionetti, P., Calabrò, A., Jousson, O., Donati, C., Cavalieri, D. and De Filippo, C.</b> (2016b). Age and gender affect the composition of fungal population of the human gastrointestinal tract. 
  <i>Frontiers in microbiology</i> 
  <b>7</b>1227.
 </div> 
 <div>
  <b>Zhang, W., Yu, Y., Hertwig, F., Thierry-Mieg, J., Zhang, W., Thierry-Mieg, D., Wang, J., Furlanello, C., Devanarayan, V., Cheng, J., Deng, Y., Hero, B., Hong, H., Jia, M., Li, L., Lin, S. M., Nikolsky, Y., Oberthuer, A., Qing, T., Su, Z., Volland, R., Wang, C., Wang, M. D., Ai, J., Albanese, D., Asgharzadeh, S., Avigad, S., Bao, W., Bessarabova, M., Brilliant, M. H., Brors, B., Chierici, M., Chu, T.-M., Zhang, J., Grundy, R. G., He, M. M., Hebbring, S., Kaufman, H. L., Lababidi, S., Lancashire, L. J., Li, Y., Lu, X. X., Luo, H., Ma, X., Ning, B., Noguera, R., Peifer, M., Phan, J. H., Roels, F., Rosswog, C., et al.</b> (2015). Comparison of RNA-seq and microarray-based models for clinical endpoint prediction. 
  <i>Genome Biology</i> 
  <b>16</b>133.
 </div> 
</div>